@model TaskTrial2.Models.RootObject

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<button value="Refresh Page" onClick="window.location.reload()"> Refresh </button>

<table  id="Questions">
  
    <tr>
        <th id="hhh">Questions</th>
    </tr>
        @foreach (var item in Model.items)
        {
<tr>
           
            <td>
              <a href=@item.link  class=" btn btn-block btn-default" target="_blank" id="kk" >@item.title</a>  

            </td>
    
           
        </tr>
 }
 


</table>






<style>

    button {
        margin-bottom: 10px;
    }
    #Questions {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }


     

        #kk {
            padding: 8px;
            padding-top: 12px;
            padding-bottom: 12px;
            margin-top: 10px;
        }

        #Questions th {
            border: 1px solid #ddd;
            padding: 8px;
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #4CAF50;
            color: white;
           
        }
 
</style>


